/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-content-full.container{
    max-width: none;
    width: auto;
    margin: 0;
    padding: 0;
}
.fl-module-content-slider .bx-wrapper{
    margin-bottom: 0;
}
.fl-module-content-slider .bx-wrapper .bx-pager{
    bottom: 20px;
    padding: 0;
    z-index: 5;
}
.fl-module-content-slider .bx-wrapper .bx-pager .bx-pager-item a{
    background: #fff;
    border:2px solid #fff;
    width: 12px;
    height: 12px;
}
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: transparent;
}

.sixColumn_menu_childLinks > .wp-megamenu-sub-menu>li.headingOfChildMenu a > h2 {
    margin: 0;
    font-family: "Playfair Display" !important;
    font-size: 22px !important;
    line-height: 33px;
    color: #000000 !important;
    font-weight: 500 !important;
}

.sixColumn_menu_childLinks > .wp-megamenu-sub-menu>li.headingOfChildMenu a,
.sixColumn_menu_childLinks > .wp-megamenu-sub-menu>li.headingOfChildMenu a:hover{
	cursor:default;
	text-decoration:none ;
}

.footer-menu-section ul {
	display:flex !important;
    justify-content: space-evenly;
}

.footer-menu-section ul li{
    display: inline;
}
.footer-menu-section hamburger{
    display:none;
}
.home-page-slider .fl-module-content-slider .bx-wrapper .bx-pager{
    bottom:120px;
}
footer{
    font-family: Montserrat;	
    font-weight: 500;	
    line-height: 15px;
}
.fl-page-bar,footer{
    font-family: Montserrat;	
    font-size: 12px;	
    font-weight: 600;	
    line-height: 15px;
}
.col-shadow{
	box-shadow:0px 1px 5px 0px #666666;
}
.col-left-blue-border{
    border-left:4px solid #094368;
    margin: 80px 1px 0px 0px;
    padding: 0px 0px 0px 10px;
}
.col-left-blue-border > div{
    margin: 0px 20px 20px 16px;
}

/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


header nav.wpmm-sticky-wrap .wpmm-nav-wrap .wpmm_brand_logo_wrap a{
    display: block;
    width: 60%;
    margin-bottom: 20px;
}

/* gredient borrom */
.backgroundGredientbottomTotop{
	background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(251,254,249,1) 65%, rgba(251,254,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(65%, rgba(251,254,249,1)), color-stop(100%, rgba(251,254,249,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(251,254,249,1) 65%, rgba(251,254,249,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(251,254,249,1) 65%, rgba(251,254,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(251,254,249,1) 65%, rgba(251,254,249,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(251,254,249,1) 65%, rgba(251,254,249,1) 100%);
}

.gredientTop{
	background: rgba(251,254,249,1);
    background: -moz-linear-gradient(top, rgba(251,254,249,1) 0%, rgba(251,254,249,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,254,249,1)), color-stop(35%, rgba(251,254,249,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(251,254,249,1) 0%, rgba(251,254,249,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(251,254,249,1) 0%, rgba(251,254,249,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,254,249,1) 0%, rgba(251,254,249,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(251,254,249,1) 0%, rgba(251,254,249,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
}


.locationGredient{
	background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(251,254,249,1) 45%, rgba(251,254,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(45%, rgba(251,254,249,1)), color-stop(100%, rgba(251,254,249,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(251,254,249,1) 45%, rgba(251,254,249,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(251,254,249,1) 45%, rgba(251,254,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(251,254,249,1) 45%, rgba(251,254,249,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(251,254,249,1) 45%, rgba(251,254,249,1) 100%);
}




.sliderCaption-center .fl-slide-content {
    text-align: center;
}
.sliderCaption-center .fl-slide-content .fl-slide-text > h2{
	font-family: "Playfair Display";
}
.sliderCaption-center .fl-slide-content .fl-slide-text > h6{
	margin-bottom:0 !important;
}

.pittsburghPaints .fl-module {
    max-width: 550px;
}
.buttonCenter .fl-slide-text-right .fl-slide-content-wrap{
	text-align:center;
}
.tabRow nav.uabb-tabs-nav {
    padding: 10px 0;
    background: #fff;
}

.product-row .product-grid{
	text-align:center;
}

.product-row .product-grid .fl-post-grid-title{
	font-size:22px;
}

.product-row .product-grid .fl-post-grid-title a{
    min-height: 46px;
    display: block;
}

.product-row .product-grid .fl-button{
	margin-bottom:10px;
}

.product-detail-layout-4 .button-wrapper .button, .product-detail-layout-5 .button-wrapper .button{
    font-family: "Montserrat",sans-serif;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	padding:20px 15px;
}

.product-detail-layout-4 .button-wrapper .button.alt, .product-detail-layout-4 .button-wrapper .button:hover, .product-detail-layout-5 .button-wrapper .button.alt, .product-detail-layout-5 .button-wrapper .button:hover{
    background-color: #094368;
    color: #fff;
    text-decoration: none;
	border-color:#094368;
	
}

.product-detail-layout-4 .button-wrapper .button, .product-detail-layout-5 .button-wrapper .button{
	background:#EB9750;
	border-color:#EB9750;
	color:#ffffff;
}

.product-detail-layout-4 .button-wrapper .button.alt:hover, .product-detail-layout-5 .button-wrapper .button.alt:hover{
	color:#000;
	background:#ffffff;
}

.product-detail-layout-4 .button-wrapper a {
    text-align: center;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	color:#000;
}

.product-variations{
	background:#FBFEF9;
    text-align: center;
	width: 100vw;
    position: relative;
    margin-left: -50vw !important;
    left: 50%;
}

.product-variations .fr-slider{
	max-width:1100px;
	margin:0 auto;
}

.product-variations>h3{
	font-family: "Playfair Display";
	font-size: 12px;
}


.full-width-img .fl-photo-content, .full-width-img .fl-photo-content img.fl-photo-img {
    width: 100%;
}
.storename{
    padding:0px;
    list-style: none;
    
}
ul.store-opening-hrs {
    padding: 0px;
    list-style: none;
}
.fa
{
    font-family: FontAwesome !important;
}

.location-address .address p {
    display: inline!important;
    margin-right: 5px!important;
    font-family:sans-serif!important;
}
.product-box a.fl-button.view_more {
    background: #094368;
    border-color: #094368;
}
.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}
.product-box a.fl-button.view_more:hover {
    background: transparent;
}
.product-box a.fl-button:hover {
    text-decoration: none;
}
.phone a span,.store-opening-hrs{
    font-family:sans-serif!important;
    font-size:13px;
}
ul.store-opening-hrs li {
    font-size: 14px;
    font-weight: bold;
}
ul.store-opening-hrs li span {
    font-size: 14px;
    font-weight: normal;
}
#menu-copyright-bar-menu{
    display: inline-block;
}

#masthead .menu .sub-menu .uabb-menu-toggle{
    transform:rotateZ(-90deg) translate(-5px, 5px);
    -webkit-transform:rotateZ(-90deg) translate(-5px, 5px);
    -moz-transform:rotateZ(-90deg) translate(-5px, 5px);
    -o-transform:rotateZ(-90deg) translate(-5px, 5px);
    -ms-transform:rotateZ(-90deg) translate(-5px, 5px);
}
#masthead .menu .sub-menu li:hover > a,
#masthead .menu .sub-menu li:hover > .uabb-has-submenu-container > a{
    background-color: #fca75f;
}

.get-direction-button .direction a{
    width: 250px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}

@media(max-width:1080px){
    .megaMenuMain .wpmm-nav-wrap #menu-main-menu{
        text-align:right;
    }
    #responsive-menu-additional-content ul li .phone a{
        color: #fff;
    }
    .container{
        width: 100%!important;
    }
    .fl-page-bar-container{
        padding: 5px 20px 5px;
    }
    header{
        padding:0 20px;
    }
    .three-image-section .uabb-new-ib-title{
        font-size: 25px;
    }

}
@media(max-width:769px){
    .wpmm-mobile-menu a.wpmm_mobile_menu_btn{
        display: none!important;
    }
    .headerWrapper .wpmm_brand_logo_wrap{
        float: none!important;
        text-align: center;
        width: 100%;
    }
    .headerWrapper .wpmm_brand_logo_wrap img{
        margin: 0px;
    }
    button#responsive-menu-button{
        top: 75px!important;
    }
    
    #djcustom-footer .responsive-footer-menu{
        width: 24.4%!important;
        max-width:auto;
        display: inline-block;
        vertical-align: top;
    }
    .pittsburghPaints .fl-module{
        max-width: 100%;
    }
}

@media(max-width:992px){
    .three-image-section{
        width: 33%!important;
        display: inline-block!important;
        max-width: 33%!important;
    }
    .three-image-section .uabb-new-ib-title{
        font-size: 22px;
    }
}
@media(max-width:768px){
    header .uabb-creative-menu-mobile-toggle-container{
        display: none;
    }
    .storename{
        margin-bottom: 0px;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link{
        text-transform: uppercase;
    }
    .copy-right-responsive .fl-module-menu .fl-menu #menu-copyright-bar-menu{
        width:100%
    }
    .copy-right-responsive .fl-module-menu .fl-menu #menu-copyright-bar-menu li{
        display: inline-block;
        
    }
    .copy-right-responsive .fl-module-menu .fl-menu #menu-copyright-bar-menu li a{
        padding:5px;
    }
    .gform_wrapper .top_label input.large.datepicker, .gform_wrapper .top_label input.medium.datepicker, .gform_wrapper .top_label input.small.datepicker{
            width: 100% !important;
        white-space: nowrap;

    }
    .gform_wrapper.gf_browser_chrome .gfield_time_ampm select{
        max-width: auto!important;
            width: 100px !important;
        max-width: 60px !important;
        white-space: nowrap;
    }

    .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error{
        margin-top: 16px!important;
    }
    
}

@media(max-width:767px){
    button#responsive-menu-button{
        top: 65px!important;
    }
}

@media(max-width:643px){
    .three-image-section{
        width: 100%!important;
        display: block;
        max-width: none!important;
    }
    
     #djcustom-footer .responsive-footer-menu{
        width: 100%!important;
        display: block;
        
    }
    .menu-footer-topbar-menu{
        display: block!important;
        li{
            display: block;
            text-align: center: 
        }
    }

}

@media(max-width:430px){
    button#responsive-menu-button{
        top: 55px!important;
        width:45px!important;
        height:45px!important;
    }
    header .uabb-photo-content img{
        height: 80px;
    }
    #menu-footer-topbar-menu{
        display: block!important;
    }
    #menu-footer-topbar-menu li a{
        margin: 0 15px;
    }    
}
@media(max-width:390px){
    #menu-footer-topbar-menu{
        display: block!important;
    }
    #menu-footer-topbar-menu li a{
        margin: 0 10px;
    }
}
